/* Asterisk wildcard selector to override default styles from browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Roboto' sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
}
/* Header */
header {
background-color: #000000;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 3px 3px gray;
display: flex;
justify-content: center;
align-items: baseline;
height: 40px;

}

/* Main */
main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /*Make main element take up any surplus space*/
    flex: 1 0 auto;




}
#hero {
    background: url(../images/solar-system.jpg) no-repeat center center/cover;
    width: 100%;
    height: 150px;
   position: relative;
}

/* footer */
footer {
background-color:#203141;
width: 100%;
height: ;
}

#social-network {

    
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 30px;
    padding-top: 5px;
    
}


