/* Asterisk wildcard selector to override default styles from browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 245, 239);
}

.wrapper {
    width: 100%;
    max-width: 1200px;
        margin: 0 auto;
}

.white {
    font-family: 'Roboto'sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: rgb(250, 245, 239);
    padding: 3 rem
}

p {
    font-family: 'Inter'sans-serif;
    text-indent: 30px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    margin: 1px;
}

/* Header */
header {
    background-color: #093141;
    position: relative;
    z-index: 99;
    width: 100%;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 60px;
}

#logo {
    margin-top: 15px;
    margin-right: 15px;
    color: rgb(250, 245, 239);
    text-decoration: none;
}


#menu {
    font-size: 120%;
    letter-spacing: 5px;
    list-style-type: none;
    margin-bottom: 0.5em;
    color: rgb(250, 245, 239);
    line-height: 40px;
}

.menu {
    color: rgb(250, 242, 239);
    text-decoration: none;
    font-size: 100%;
}

a:hover {
    color: rgb(102, 102, 102)
}

.active {
    border-bottom: 1px solid #ffffff;
}

.simple-white {
    color: white;
}

/*Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #093141;
    width: 100%;
    box-shadow: 3px 3px 3px gray;
    padding: 0 1rem;
    display: none;
    top: 100%
}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: large;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    /*Make main element take up any surplus space*/
    flex: 1 0 auto;
}

#hero {
    background: url(../images/solar-system.jpg) no-repeat center center/cover;
    width: 100%;
    height: 150px;
    position: relative;
}





.sub-title {
    p {
        color: #093141;
        padding: 10px;
        font-size: 35px;
        font-weight: 800;
        
    }
}

#planets {
    padding-top: 10px;
}

#planets img {
    object-fit: cover;
    float: inherit;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 50px 0 10px;

}

#planets h2 {
    color: #093141;
    font-family: 'Roboto';
    padding: 20px 0 0;
    font-size: 25px;
    text-align: center;

}


#planets h4 {
    color: #093141;
    padding: 10px;
    font-size: 25px;



}

/* footer */
footer {
    background-color: #203141;
    width: 100%;
    margin-top: 10px;
}

#social-network {

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 30px;
    padding-top: 10px;

}
#up {
    color: #093141;
    text-align: right;
    font-size: 1.5rem;
    width: 100%;
    padding-left: 80%;
}

#signup {
    background: url(../images/background-header.jpg) no-repeat center center/cover;
   
}

#connect {
    background-color: rgba(19, 29, 29, 0.7);
    padding: 2rem;
    margin: 2rem;
    max-width: 20rem;
    

}

.contact-form {
    padding: 0.5rem;
    font-size: 2rem;
    max-width: 20rem;

}

input[type=text],
select {
    width: 98%;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 6px 2px 16px;
}

input[type=email],
select {
    width: 98%;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 6px 2px 16px;


}

input[type=submit] {
    background-color: #203141;
    color: rgb(250, 245, 239);
    padding: 12px 20px;
    margin-right: 5px;
    border: solid 1px white;
    border-radius: 1rem;
    float: right;
    font-size: 0.8rem;
}
/* not working */
.submit:hover {
    color: rgb(102, 102, 102)
}

    .white-center {
        font-family: 'Roboto'sans-serif;
        letter-spacing: 1px;
        color: rgb(250, 245, 239);
        font-size: 2rem;
        text-align: center;
    }

    .white-signup {
        font-family: 'Roboto'sans-serif;
        letter-spacing: 1px;
        color: rgb(250, 245, 239);
        font-size: 1.5rem;
        text-align: center;
    }

/* Media query: tablets and larger (700px and up) */
@media screen and (min-width: 700px) {
    #planets {
        columns: 2;
    }
    .white-center{
        font-size: 3rem;
    }

    .white {
        font-family: 'Roboto'sans-serif;
        letter-spacing: 1px;
        color: rgb(250, 245, 239);
        font-size: 3rem;
        padding-right: 5rem;
    }

    .sub-title {
        p {
            color: #093141;
            padding: 10px;
            font-size: 50px;
            font-weight: 800;
            justify-content: center;
            text-align: center;
        }
    }
        .contact-form {
            align-content: center;
            }
 
            
/* Large devices: laptops and desktops, (992 px and up)*/
@media screen and (min-width: 992px) {
    #planets {
        columns: 4;
    }

    #hero {
        background: url(../images/solar-system.jpg) no-repeat center center/cover;
        width: 100%;
        height: 300px;
        position: relative;
    }

    .white {
        font-family: 'Roboto'sans-serif;
        letter-spacing: 1px;
        color: rgb(250, 245, 239);
        font-size: 5rem;
    }
}